.module-wrap {
  margin: $COMMON_MARGIN;
  padding: $COMMON_MARGIN;
  background: #ddd;
  transition: all .2s ease;
  border-radius: 10px;
  border: 1px solid #efefef;
}
.module-wrap:hover {
  box-shadow: 0 2px 7px  $CUR_THEME;
  background: #fff;
}
.module-title {
  padding: 5px;
  font-weight: bold;
}
.module-body {
  padding: 10px;
  border-top: 1px solid $TEXT_DARK;
}